.navbar {
  background-color: var(--bratz-black) !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.navbar-light .navbar-brand {
  color: var(--bratz-pink) !important;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--bratz-pink) !important;
  border-bottom: 2px solid var(--bratz-pink);
  background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--bratz-pink) !important;
}

.navbar-nav .active {
  background-color: transparent !important;
}

@media (max-width: 768px) {
 .navbar-toggler {
   background-color: #fff !important;
 }
}
